$header-height: 50px;
$left-sidebar-width: 200px;
$right-sidebar-width: 400px;
$border-color: rgba(0, 0, 0, 0.05);
$prime-color: #3498db;
$primary-color: #3498db;
$danger-color: #e74c3c;
$body-color: #ecf0f1;
$text-color: #F8EFBA;
$me-text-color: #9AECDB;
$messenger-text-height: 40px;
